<div class="card" *ngIf="postData">
  <span *ngIf="isFavourites">★</span>
  <img class="post-image" src="{{postData.thumbnail.includes('http')? postData.thumbnail : './assets/thumb.png'}}" alt="post thumbnail">
  <div class="post-text">
    <span>{{postData.title | uppercase}}</span>
    <span><a target="_blank"  href="{{'https://www.reddit.com/user/'+ postData.author}}">{{postData.author}}</a></span>
    <span>{{postData.created_utc | timestampToDate : true | uppercase}}</span>
  </div>
  <div class="spacer"></div>
  <div class="buttons-container">

    <!-- <button (click)="storage.toggleFavourites(postData)">{{storage.isFavourite(postData)?'rimuovi':'salva'}}</button> -->

    <button (click)="storage.toggleFavourites(postData)" >{{postData.isFavourite? 'rimuovi':'salva'}}</button>

    <a  target="_blank" href="{{postData.url}}">
      <button>Vai al Link</button>
    </a>
    <a target="_blank"  href="{{'https://www.reddit.com/'+ postData.permalink}}">
      <button>Vai al Reddit</button>
    </a>
  </div>
</div>
